.answersWrapper {
	display: flex;
	text-align: center;
	gap: 2rem;
	border: 1px solid $silver-color;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
	margin-block: 1rem;
}

.answers {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.answerIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
