$primary-font-family: var(--font-geist-sans), sans-serif;
$secondary-font-family: var(--font-geist-mono), sans-serif;

$silver-color: silver;
$blue-color: #0070f3;
$green-color: green;
$tomato-color: tomato;
$white-color: white;
