.cardItem {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 1rem;
	border: 1px solid silver;
}

.titleContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 200px;
}

.questionCountContainer {
	display: flex;
	gap: 8px;
}

.listWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.btnLink {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}
