.headerList {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	font-size: large;
	font-weight: bold;
	padding-block: 2rem;
	box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
}
